<h1>New Comment</h1>
<form action="/comments/save" method='post'>
	<label>TITLE</label><input type='text' name='title'></input><br>
	<label>CONTENT</label><input type='text' name='content'></input>
	<br>
      <input type='submit' name='submit' value="submit"></input>
      <input type='submit' name='return' value="return"></input>
 </form>

  <style type="text/css">
.center{
        text-align: center;
}
label {
        display: inline-block;
        width: 100px;
        text-align: center;
}
input{
		text-align: center;
        vertical-align: top;
}
 </style>