<h1>Please login(username:xiangyu, password:sinatra)</h1>
<form action="/login" method='post'>
      username: <input type='text' name='username'></input><br>
      password: <input type='password' name='password'></input>
      <br>
      <input type='submit' name='submit'></input>
 </form>