<h1>VIDEO</h1>
<div style="float: left;">
  <video width="100%" height=auto controls autoplay>
  <source src="NBA.mp4" type="video/mp4">
</video>
<h1><a href="/index" style="margin-right: 5px">return</a></h1>
</div>